<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="index :: head">
    </head>
    <body>
        <header th:replace="index :: header" />

        <div class="container p-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="col-sm-1">#</th>
                        <th scope="col" class="col-sm-1">Cover</th>
                        <th scope="col">Anime Title</th>
                        <th scope="col">Score</th>
                        <th scope="col">Type</th>
                        <th scope="col" class="col-sm-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="animeTitleDto,iter : ${animeTitleList}">
                        <th scope="row" th:text="${(page - 1) * pageSize + iter.count}">1</th>
                        <td>
                            <img class="table-image" th:src="@{${animeTitleDto.coverUrl}}" th:if="${animeTitleDto.coverUrl != null}" />
                        </td>
                        <td th:text="${animeTitleDto.name}">Otto</td>
                        <td th:text="${animeTitleDto.score}">@mdo</td>
                        <td th:text="${animeTitleDto.type}">@mdo</td>
                        <td>
                            <a href="#" class="icon-button">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="#" class="icon-button">
                                <i class="bi bi-x-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:replace="paginator :: base"
                 th:page="${page}"
                 th:pageAmount="${pageAmount}"
                 th:tableHref="/anime/list"></div>
        </div>

        <footer th:replace="index :: footer" />
    </body>
</html>